doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/scss/temp.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(defer src="/socket.io/socket.io.js")
    script(defer src="/static/js/app.js")
    script(defer src="/static/js/effect.js")
    title Chat APP ver.1

  body 
    div(class="wrap")
      header 
        span(id="timer")
        span(id="logo") Code:Me
        div(class="icons")
          <i class="fas fa-signal"></i>
          <i class="fas fa-wifi"></i>
          <i class="fas fa-battery-three-quarters"></i>
      div(id="headerRoomInfo")
        <i class="fas fa-arrow-left"></i>
        h2(id="roomTitle")
        <i class="fas fa-ellipsis-h"></i>
      div(id="usersList")
      main
        div(class="notiContainer")
          h2(class="noti1") 🕺 Hello There ~
          h4(class="noti2") Please enter your nickname
        div(id="roomListContainer")
          h4 Opening Rooms
          ol(id="roomListUl")
                      
        div(id="nickContainer")
          form(id="nickForm" autocomplete="off")
            input(id="nickInput" placeholder="Nickname" type="text" )
            button 
              i(class="fas fa-location-arrow submit")
        div(id="roomContainer" )
          form(id="roomForm" autocomplete="off")
            input(id="roomInput" placeholder="Room Name" type="text" required )
            button 
              i(class="fas fa-location-arrow submit")
        div(id="chatContainer")
          ul(id="chatUl")
        div(id="msgContainer")
          form(id="msgForm" autocomplete="off")
            input(id ="msgInput" type="text" placeholder="message" required)
            button 
              i(class="fas fa-location-arrow submit")




    