doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/static/scss/temp.css")
    script(defer src="/socket.io/socket.io.js")
    script(defer src="/static/js/app.js")
    
    title ZOOM Clone

  body 
    header 
      h1 Zoom Clone
    main
      div(id="nickContainer")
        form(id="nickForm" autocomplete="off")
          input(id="nickInput" placeholder="Nickname" type="text" )
          button(id="nickBtn") Nickname
      div(id="roomContainer" )
        form(id="roomForm" autocomplete="off")
          input(id="roomInput" placeholder="Room Name" type="text" required )
          button(id="roomBtn")  Enter Room
      div(id="msgContainer")
        h3(id="roomTitle")
        div(id="usersList")
        div(id="chatContainer")
          ul(id="chatUl")
        form(id="msgForm" autocomplete="off")
          input(id ="msgInput" type="text" placeholder="message" required)
          button Send Message
          
      div(id="roomListContainer")
        h3 Opening Rooms
        ul(id="roomListUl")



    